# Logs
smart-contracts/logs
smart-contracts/*.log
smart-contracts/npm-debug.log*
smart-contracts/yarn-debug.log*
smart-contracts/yarn-error.log*
smart-contracts/pnpm-debug.log*
smart-contracts/lerna-debug.log*

client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

smart-contracts/node_modules
server/node_modules
client/node_modules
smart-contracts/.env
client/dist
dist-ssr
*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



